    h1{
        color: white;
        background-color: black;
        text-align: left;
        font-family: cursive;
    }
    span{
        color: aqua;
    }
    h2{
        color: white;
        background-color: purple;
        text-align: center;
        font-family: cursive;
    }
    h3{
        color: black;
        background-color: aqua;
        text-align: right;
        text-decoration: underline;
        font-family: cursive;
    }